@import url(https://fonts.googleapis.com/css?family=Raleway:100,400);

$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;
$neo-green: #58bf00;

$accounts-font-size: 35px;
$trading-info-font-size: 24px;
$font-size: 22px;
$chart-title-font-size: 30px;
$avg-indicator-font-size: 26px;
$margin-delta-avg: 300px;
*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  background-color: $main-bg-color;
  color: $accent-black;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}
label {
  display: inline-block;
}
.container-fluid {
  padding-right: 8px !important;
  padding-left: 8px !important;
}
.neo-green {
  color: $neo-green;
}

.position-neo {
  margin-left: 8px;
  font-weight: 500;
}
.input-label {
	text-align: right;
	margin-right: 15px;
}

.main-app-container {
  padding-top: 2em;
}

.main-app-nav {
  font-size: 2em;
  text-align: left;
}

.counter-num-label {
  color: $accent-orange;
  padding-top: 1em;
  font-size: 3em;
  text-align: center;
  width: 100%;
}

.counter-even-label {
  padding-top: 1em;
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.counter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em;

  button {
    background-color: #CCC;
    border: none;
    height: 30px;
    width: 80px;
    margin-left: 1em;
    margin-right: 1em;

    &:hover {
      background-color: $accent-gray;
    }
  }
}

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 10em;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $accent-blue;
    }
  }

  #heart{
    color: $accent-red;
  }
}
.deltachart-container {

}

.user-info p {
  font-size: $font-size;
}
.delta-avg {
  text-align: center;
}

.delta-avg form {
  display: inline-block;
  margin-left: $margin-delta-avg;
}
.delta-avg label {
  width: 90px;
}
.avg-indicator {
  display: inline-block;
  font-size: $avg-indicator-font-size;
}


.header {
  background-color: #1d1f21;
  color: #e0e0e0;
}
.img-logo {
  width: 110px;
  margin: 10px 50px;
}

.trading-info {
  text-align: center;
  border-bottom: 4px solid;
  padding: 30px 20px;
}

.trading-info .trading-indicator {
  display: inline-block;
  font-size: $trading-info-font-size;
}
.trading-info .trading-indicator .indicador {
  color: $neo-green;
}

.chart-container {
  margin-top: 80px;
}

.delta-avg input[type=number] {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;

  position: relative;

  display: inline-block;

  width: 100%;
  height: 52px;
  padding: 5px 25px;

  transition: all .3s;

  color: #373545;
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}


.bar
{
    position: relative;

    display: block;

    width: 100%;
}


.bar:before,
.bar:after
{
    position: absolute;
    bottom: 1px;

    width: 0;
    height: 2px;

    content: '';
    transition: .2s ease all;

    background: $neo-green;
}
.bar:before
{
    left: 50%;
}
.bar:after
{
    right: 50%;
}
/* active state */
.input-group input:focus ~ .bar:before,
.input-group input:focus ~ .bar:after
{
    width: 50%;
}

/*   static line below the input  */
.highlight
{
    position: relative;

    display: block;

    width: 100%;
}

.highlight:before
{
    position: absolute;
    top: -1px;
    right: 0;

    width: 100%;
    height: 2px;

    content: '';

    background-color: #979898;
}

/* active state */
.input-group input:focus ~ .highlight:before
{
    opacity: 0;
}
.send
{
    font-size: 14px;

    display: inline-block;

    width: 100px;
    margin-top: 40px;
    margin-left: 20px;
    padding: 14px;

    transition: color .3s,background-color .3s,border-color .3s;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: white;
    border: none;
    border-radius: 3px;
    background-color: $neo-green;

    outline: none;
}

.send:hover
{
    color: #fff;
    background-color: darken($neo-green, 5%);
}

.chart-title {
  font-size: $chart-title-font-size;
  font-weight: 700;
}

.accounts-list {
  margin-top: 12%;
  display: flex;
  justify-content: center;
}

.account-item {
  padding: 10px 20px;
  margin-left: 70px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.account-item  a, .account-item  p {
  font-size: $accounts-font-size;
  text-decoration: none;
  align-self: center;
}
.account-item  a {
  color: $neo-green;
}
.account-item  p {
  color: $accent-black;
}
@media (max-width: 1200px) {
  .user-info p {
    font-size: $font-size - 2px;
  }

  .trading-info .trading-indicator {
    font-size: $trading-info-font-size - 2px;
  }

  .avg-indicator {
    font-size: $avg-indicator-font-size - 2px;
  }

  .send {
    font-size: 14px;
    width: 85px;
    padding: 10px;
    }

    .delta-avg input[type=number] {
      height: 42px;
      padding: 5px 10px;
    }

    .delta-chart-container {
      margin-top: 0px;
    }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}
